{% load static from staticfiles %}

<html lang="en" class="no-js">

<head>

    <!-- title and meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="Image overlay." />
    <title>App Title</title>

    <!-- css -->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'css/site_base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/smoothDivScroll.css' %}" />

    <!-- js -->
    <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <!-- bxSlider CSS file -->
    <script src="{% static 'js/modernizr.js' %} "></script>



    <script>
        $(document).ready(function(){
            if (Modernizr.touch) {
                // show the close overlay button
                $(".close-overlay").removeClass("hidden");
                // handle the adding of hover class when clicked
                $(".img").click(function(e){
                    if (!$(this).hasClass("hover")) {
                        $(this).addClass("hover");
                    }
                });
                // handle the closing of the overlay
                $(".close-overlay").click(function(e){
                    e.preventDefault();
                    e.stopPropagation();
                    if ($(this).closest(".img").hasClass("hover")) {
                        $(this).closest(".img").removeClass("hover");
                    }
                });
            } else {
                // handle the mouseenter functionality
                $(".img").mouseenter(function(){
                    $(this).addClass("hover");
                })
                // handle the mouseleave functionality
                        .mouseleave(function(){
                            $(this).removeClass("hover");
                        });
            }



        });
    </script>

    <style type="text/css">

		#image-scroll-area
		{
			width:95%;
			height: 180px;
			position: relative;
		}

		/* Replace the last selector for the type of element you have in
		   your scroller. If you have div's use #makeMeScrollable div.scrollableArea div,
		   if you have links use #makeMeScrollable div.scrollableArea a and so on. */
{#		#image-scroll-area div.scrollableArea img#}
{#		{#}
{#			position: relative;#}
{#			float: left;#}
{#			margin: 0;#}
{#			padding: 0;#}
{#			/* If you don't want the images in the scroller to be selectable, try the following#}
{#			   block of code. It's just a nice feature that prevent the images from#}
{#			   accidentally becoming selected/inverted when the user interacts with the scroller. */#}
{#			-webkit-user-select: none;#}
{#			-khtml-user-select: none;#}
{#			-moz-user-select: none;#}
{#			-o-user-select: none;#}
{#			user-select: none;#}
{#		}#}
	</style>


</head>



<body>

<div id="wrapper">

    <div id="info-bar">
        <div class="container clearfix">
            {% if user.is_authenticated %}
                <span class="all-tutorials"><a href="#">{{ fullname }}</a></span>
                <span class="back-to-tutorial"><a href="/logout_">Logout</a></span>
            {% endif %}
        </div>
    </div><!-- /#top-bar -->

    <header>
        <div id="title" class="container">
            <h1>App Name</h1>
        </div>
         <meta property="og:url"           content="http://followunfollow.herokuapp.com/test" /> 
        <meta property="og:type"          content="http://followunfollow.herokuapp.com/test" /> 
        <meta property="og:title"         content="http://followunfollow.herokuapp.com/test" />
    	<meta property="og:description"   content="http://followunfollow.herokuapp.com/media/facebookstatus_images/new_profiles/background_XWh4znm.png" />
        <meta property="og:image"         content="http://followunfollow.herokuapp.com/media/facebookstatus_images/new_profiles/background_XWh4znm.png" /> 
        <meta property="og:image:secure_url" content="http://followunfollow.herokuapp.com/media/facebookstatus_images/new_profiles/background_XWh4znm.png" />
    </header><!-- /header -->


    <div id="main">
        <div class="container">

            <nav id = 'nav-buttons'>
                <ul>
                    <li><a href="/login/facebook" id='btn_1'>Login with Facebook</a></li>
                    <li><a href="/login/twitter" id='btn_2'>Login with Twitter</a></li>

                </ul>
            </nav><!-- /nav -->

            <div class="content-area-wrap">

                <div class="image-wrap">

                    <!-- images to overhead -->
                    <div id="effect-1" class="effects clearfix">
                        <div id="image-scroll-area">
                            {% for i in images_display %}
                                <div class="img">
                                    <img src="{{ i.image.url }}" class="img-textual"  alt="Picture"  id='{{ i.id }}'>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- /images to overhead -->

                </div>
                <div class="controls">

                    <div class="masking-image-wrap">

                        <!-- user's profile information -->
                        <div class="img">
                            {% if user.is_authenticated %}
                                <img src="{{ image.url }}" class='imgchange' width='300px' height='300px' >
                                <div class="img-overlay-mask">
                                    <img src="{% static 'img/trans.png' %}" class="mask-image" width='255' height='230'>
                                </div>


                            {% else %}
                                    <img src="{% static 'img/default.png' %}" class="mask-image" width='300px' height='300px'>
                            {% endif %}
                        </div>
                        <!-- end user's profile information -->

                       <!-- <div class="fb-share-button" data-href="http://followunfollow.herokuapp.com/test" data-layout="button" data-size="large" data-mobile-iframe="true">
                            <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ffollowunfollow.herokuapp.com%2Ftest%2F&amp;src=http://followunfollow.herokuapp.com">Share</a> 
                        </div> -->
                        <br>
                        <form method="GET" action=".">
                            Status:
                            <input type="text" id="message" name="message"  />
                        </form>

                        <!--Sharing and tweet button-->
                        <div class="btn-sharing">
                            <a class="fb-share-button" href="" id='share_btn'><img src="{%  static 'img/imgpsh_fullsize (1)fb.png' %}" ></a>
                        </div>
                        <div class="btn-sharing">
                            <a class="twitter-share-button"  href="" id='tweet_btn'><img src="{%  static 'img/imgpsh_fullsize (1)tw.png' %}" ></a>
                                        <!--     <a href="/tweet/" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>-->
                        </div>

                        <div class="clearfix"></div>
                        <!-- end Sharing and tweet button -->

                    </div>


                </div>

                <div class="clearfix"></div>

            </div>

        </div><!-- /.container -->


    </div><!-- #main -->


    <footer>
    </footer><!-- /footer -->



</div><!-- /#wrapper -->

<script type="text/javascript">

    $('.img-textual').on('click',function() {

        var id_image = $(this).attr('id');
        var message = $('#message').val();

        console.log("this "+ id_image)
        var mask_img= $('.mask-image').attr('id', id_image)
{#        $('#share_btn').attr('href', '/share/'+id_image+'/?message='+message+'')#}
    });
    $('#share_btn').on('click', function () {
        var message = $('#message').val();
{#        alert(message)#}
        var mask_image_id = $('.mask-image').attr('id');
{#        alert("image id mask " + mask_image_id);#}
        $('#share_btn').attr('href', '/share/'+mask_image_id+'/?message='+message+'')
    });


    $('.img-textual').on('click',function() {

        var id_image = $(this).attr('id');
        var message = $('#message').val();

        console.log("this "+ id_image)
{#        $('#tweet_btn').attr('href', '/tweet/'+id_image)#}
    });
      $('#tweet_btn').on('click', function () {
        var message = $('#message').val();
{#        alert(message)#}
        var mask_image_id = $('.mask-image').attr('id');
{#        alert("image id mask " + mask_image_id);#}
        $('#tweet_btn').attr('href', '/tweet/'+mask_image_id+'?message='+message+'')
    });
    $( ".img-textual" ).click(function() {

        var get_text = $(this).attr('src');

        $(".mask-image").attr('src', get_text);
    });




</script>


<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=185642748516816";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34160351-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>


<!-- jQuery UI (Custom Download containing only Widget and Effects Core)
	     You can make your own at: http://jqueryui.com/download -->
	<script src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}" type="text/javascript"></script>

<!-- Latest version (3.1.4) of jQuery Mouse Wheel by Brandon Aaron
	     You will find it here: https://github.com/brandonaaron/jquery-mousewheel -->
	<script src="{% static 'js/jquery.mousewheel.min.js' %}" type="text/javascript"></script>

	<!-- jQuery Kinectic (1.8.2) used for touch scrolling -->
	<!-- https://github.com/davetayls/jquery.kinetic/ -->
	<script src="{% static 'js/jquery.kinetic.min.js' %} " type="text/javascript"></script>

	<!-- Smooth Div Scroll 1.3 minified-->
	<script src="{% static 'js/jquery.smoothdivscroll-1.3-min.js' %} " type="text/javascript"></script>

	<!-- If you want to look at the uncompressed version you find it at
	     js/jquery.smoothDivScroll-1.3.js -->
    <!-- Plugin initialization -->
	<script type="text/javascript">

		// Initialize the plugin with no custom options
		$(document).ready(function () {

			// None of the options are set
			$("div#image-scroll-area").smoothDivScroll({
				autoScrollingMode: "onStart"
			});
		});
	</script>

</body>
</html>