{% load static from staticfiles %}

<html lang="en" class="no-js">

<head>

    <!-- title and meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="Image overlay." />
    <title>App Title</title>

    <!-- css -->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'css/site_base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- js -->
    <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <!-- bxSlider CSS file -->
    <script src="{% static 'js/modernizr.js' %} "></script>

    <!-- bxSlider Javascript file -->
    <script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
    <!-- bxSlider CSS file -->
    <link href="{% static 'css/jquery.bxslider.css' %}" rel="stylesheet" />

    <script>
        $(document).ready(function(){
            if (Modernizr.touch) {
                // show the close overlay button
                $(".close-overlay").removeClass("hidden");
                // handle the adding of hover class when clicked
                $(".img").click(function(e){
                    if (!$(this).hasClass("hover")) {
                        $(this).addClass("hover");
                    }
                });
                // handle the closing of the overlay
                $(".close-overlay").click(function(e){
                    e.preventDefault();
                    e.stopPropagation();
                    if ($(this).closest(".img").hasClass("hover")) {
                        $(this).closest(".img").removeClass("hover");
                    }
                });
            } else {
                // handle the mouseenter functionality
                $(".img").mouseenter(function(){
                    $(this).addClass("hover");
                })
                // handle the mouseleave functionality
                        .mouseleave(function(){
                            $(this).removeClass("hover");
                        });
            }



        });
    </script>


</head>



<body>

<div id="wrapper">

    <div id="info-bar">
        <div class="container clearfix">
            {% if user.is_authenticated %}
                <span class="all-tutorials"><a href="#">{{ fullname }}</a></span>
                <span class="back-to-tutorial"><a href="/logout_">Logout</a></span>
            {% endif %}
        </div>
    </div><!-- /#top-bar -->

    <header>
        <div id="title" class="container">
            <h1>App Name</h1>
        </div>

    </header><!-- /header -->


    <div id="main">
        <div class="container">

            <nav id = 'nav-buttons'>
                <ul>
                    <li><a href="/login/facebook" id='btn_1'>Login with Facebook</a></li>
                    <li><a href="/login/twitter" id='btn_2'>Login with Twitter</a></li>

                </ul>
            </nav><!-- /nav -->

            <div class="content-area-wrap">

                <div class="image-wrap">

                    <!-- images to overhead -->
                    <div id="effect-1" class="effects clearfix">

                        {% for i in images_display %}
                            <div class="img">
                                <img src="{{ i.image.url }}" class="img-textual"  alt="Picture"  id='{{ i.id }}'>
                            </div>
                        {% endfor %}

                    </div>
                    <!-- /images to overhead -->

                </div>
                <div class="controls">

                    <div class="masking-image-wrap">

                        <!-- user's profile information -->
                        <div class="img">
                            {% if user.is_authenticated %}
                                <img src="{{ image.url }}" class='imgchange' width='300px' height='300px' >
                                <div class="img-overlay-mask">
                                    <img src="{% static 'img/trans.png' %}" id="mask-image" width='255' height='230'>
                                </div>


                            {% else %}
                                    <img src="{% static 'img/default.png' %}" id="mask-image" width='300px' height='300px'>
                            {% endif %}
                        </div>
                        <!-- end user's profile information -->

                        <!--Sharing and tweet button -->
                        <div class="btn-sharing">
                            <a class="fb-share-button" href="" id='share_btn'><img src="{%  static 'img/imgpsh_fullsize (1)fb.png' %}" ></a>
                        </div>
                        <div class="btn-sharing">
                            <a class="twitter-share-button"  href="" id='tweet_btn'><img src="{%  static 'img/imgpsh_fullsize (1)tw.png' %}" ></a>
                            {#                 <a href="/tweet/" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>#}
                        </div>

                        <div class="clearfix"></div>
                        <!-- end Sharing and tweet button -->

                        {#         {% social_widget_render "facebook/share_button.html" locale="en_US" app_id=12345678 href="developers.facebook.com" layout="none" %} #}

                        {#        <a href="/tweet/" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>#}

                        {#        <div class="fb-share-button" data-href="http://followunfollow.herokuapp.com/media/imageslist/new7.png" data-layout="button_count" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="http://followunfollow.herokuapp.com/media/imageslist/new7.png&amp;src=http://followunfollow.herokuapp.com/media/imageslist/new7.png">Share</a></div>#}


                        {#        <div class="fb-share-button" data-href="/share/" data-layout="button" data-size="large" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A9090%2Ftest%2F&amp;src=sdkpreparse">Share</a></div>#}


                    </div>


                </div>

                <div class="clearfix"></div>

            </div>

        </div><!-- /.container -->


    </div><!-- #main -->


    <footer>
    </footer><!-- /footer -->



</div><!-- /#wrapper -->

<script type="text/javascript">

    $('.img-textual').on('click',function() {

        var id_image = $(this).attr('id');
        console.log("this "+ id_image)
        $('#share_btn').attr('href', '/share/'+id_image)
    })
    $('.img-textual').on('click',function() {

        var id_image = $(this).attr('id');
        console.log("this "+ id_image)
        $('#tweet_btn').attr('href', '/tweet/'+id_image)
    })

    $( ".img-textual" ).click(function() {

        var get_text = $(this).attr('src');

        $("#mask-image").attr('src', get_text);
    });




</script>


<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=185642748516816";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Load Facebook SDK for JavaScript -->
{#	<div id="fb-root"></div>#}
{#	<script>(function(d, s, id) {#}
{#	  var js, fjs = d.getElementsByTagName(s)[0];#}
{#	  if (d.getElementById(id)) return;#}
{#	  js = d.createElement(s); js.id = id;#}
{#	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";#}
{#	  fjs.parentNode.insertBefore(js, fjs);#}
{#	}(document, 'script', 'facebook-jssdk'));</script>#}
{##}
{#	<!-- Your share button code -->#}
{#	<div class="fb-share-button"#}
{#		data-href="http://www.your-domain.com/your-page.html"#}
{#		data-layout="button_count">#}
{#	</div>#}

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34160351-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

</body>
</html>