{% extends "follow_unfollow/base.html" %}

<!-- POST LIST -->
{% block content %}
    {% for post in posts %}

        <h3> {{ post.author }} </h3>
        <div class="post">

            <h1><a href="{% url 'post_detail' pk=post.pk %}" >{{ post.title }}</a></h1>
            <p>{{ post.text|safe|linebreaksbr }}</p>
            <div class="date">
                <h6>{{ post.published_date }}</h6>

            </div>
        </div>

    {% endfor %}
    {{ userobj.username }}


{% endblock %}


{##}
{# <!--<div class="post">#}
{#                <div class="date">#}
{#                    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>#}
{#                </div>#}
{#                <p>{{ post.text |linebreaksbr }}</p>#}
{##}
{#                <p>published: {{ post.published_date }}</p>#}
{#            </div>-->#}